$color-primary : #F2BD4D;
$color-secondary : #222E55;
$color-white : #FFFFFF;
$color-white-soft : rgba(255, 255, 255, 0.8);
$color-grey : rgba(0, 0, 0, 0.6);
$color-black : #000000;

$font-family-primary : 'Open Sans', sans-serif;
$font-family-secondary : 'Rubik', sans-serif;

$heading-1-font-size : 68px;
$heading-2-font-size : 48px;
$heading-3-font-size : 38px;
$heading-4-font-size : 24px;
$heading-5-font-size : 18px;