.navbar {
    .navbar-nav {
        .navbar-inline {
            border: 1px solid rgba(255, 255, 255, 0.8);
            width: 36px;
            transform: rotate(90deg);

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .nav-item {
            .nav-link {
                color: $color-white;
            }
        }
    }
}